In [2]:
## Importing Libraries

In [3]:
##Importing libraries for loading and processing
import pandas as pd
import numpy as np

In [4]:
##checking for the version of pandas
print(pd.__version__)

2.2.3

In [5]:
## Reading/Loading and Creating a Dataset

In [6]:
## Reading Data from Dataset
data = pd.read_csv("Datasets/Iris_data_sample.csv")
data

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
## Creating a deep copy of the Dataset
df1 = data.copy(deep = True)
df1.head()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa

In [8]:
data2 = pd.read_csv("Datasets/Toyota.csv")
data2

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

In [9]:
## Ctreating a second copy of the dataset
df2 = data2.copy(deep = True)
df2.head()

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170

In [10]:
data3 = pd.read_table("Datasets/Iris_data_sample.txt", delimiter=" ")
data

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [11]:
## Ctreating a third copy of the dataset
df3= data3.copy(deep = True)
df3.head()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
1,1,5.1,3.5,1.4,0.2,Iris-setosa
2,2,4.9,3.0,1.4,0.2,Iris-setosa
3,3,4.7,3.2,1.3,0.2,Iris-setosa
4,4,4.6,3.1,1.5,0.2,Iris-setosa
5,5,5.0,3.6,1.4,0.2,Iris-setosa

In [12]:
data4 = pd.read_csv("Datasets/Iris_data_sample.txt", delimiter=" ")
data4

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
1,1,5.1,3.5,1.4,0.2,Iris-setosa
2,2,4.9,3.0,1.4,0.2,Iris-setosa
3,3,4.7,3.2,1.3,0.2,Iris-setosa
4,4,4.6,3.1,1.5,0.2,Iris-setosa
5,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
146,146,6.7,3.0,5.2,2.3,Iris-virginica
147,147,6.3,2.5,5.0,1.9,Iris-virginica
148,148,6.5,3.0,5.2,2.0,Iris-virginica
149,149,6.2,3.4,5.4,2.3,Iris-virginica
150,150,5.9,3.0,5.1,1.8,Iris-virginica

In [13]:
## Ctreating a forth copy of the dataset
df4= data4.copy(deep = True)
df4.head()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
1,1,5.1,3.5,1.4,0.2,Iris-setosa
2,2,4.9,3.0,1.4,0.2,Iris-setosa
3,3,4.7,3.2,1.3,0.2,Iris-setosa
4,4,4.6,3.1,1.5,0.2,Iris-setosa
5,5,5.0,3.6,1.4,0.2,Iris-setosa

In [14]:
## Understanding Dataset
## Display the first 5 rows
## if you want to display a specific number of rows, you put the number into the head() function.eg:data3.head(10)
## the default one is the data3.head(). this only gives you five rows
data3.head(10)

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
1,1,5.1,3.5,1.4,0.2,Iris-setosa
2,2,4.9,3.0,1.4,0.2,Iris-setosa
3,3,4.7,3.2,1.3,0.2,Iris-setosa
4,4,4.6,3.1,1.5,0.2,Iris-setosa
5,5,5.0,3.6,1.4,0.2,Iris-setosa
6,6,5.4,3.9,1.7,0.4,Iris-setosa
7,7,4.6,3.4,1.4,0.3,Iris-setosa
8,8,5.0,3.4,1.5,0.2,Iris-setosa
9,9,4.4,2.9,1.4,0.2,Iris-setosa
10,10,4.9,3.1,1.5,0.1,Iris-setosa

In [15]:
##Display the last 5 row
data3.tail()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
146,146,6.7,3.0,5.2,2.3,Iris-virginica
147,147,6.3,2.5,5.0,1.9,Iris-virginica
148,148,6.5,3.0,5.2,2.0,Iris-virginica
149,149,6.2,3.4,5.4,2.3,Iris-virginica
150,150,5.9,3.0,5.1,1.8,Iris-virginica

In [16]:
## Creating a column of list
## NB: in pnadas, the item in the string is called objects
df1.columns

Index(['Unnamed: 0', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm',
       'PetalWidthCm', 'Species'],
      dtype='object')

In [17]:
##Calling a each list item in a column
for each_item in df1.columns:
    print(each_item)

Unnamed: 0
SepalLengthCm
SepalWidthCm
PetalLengthCm
PetalWidthCm
Species

In [18]:
##Calling a each list item in a column and applying the lower()
for each_item in df1.columns:
    print(each_item.lower())

unnamed: 0
sepallengthcm
sepalwidthcm
petallengthcm
petalwidthcm
species

In [19]:
## Indexing has two set of operators ie. the dot(.) and the square bracket[]
## Indexing using dot(.) eg:df1.column etc.
##Indexing using square brackets[] eg:
df1["SepalLengthCm"]

0      5.1
1      4.9
2      4.7
3       ??
4        5
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: object

In [20]:
##Adding the head()
df1["SepalLengthCm"].head()

0    5.1
1    4.9
2    4.7
3     ??
4      5
Name: SepalLengthCm, dtype: object

In [21]:
## Access a single value for a role/column by their label and index
df1.at[0,"SepalLengthCm"]

'5.1'

In [22]:
## using the iat for a single value of a role/column by thier label and index.
## NB: The i is for an integer. you maintain the index for the row and take the index for the column
df1.iat[0,3]

'1.4'

In [23]:
##Accessing a group of role/column by their label
df1.loc[0:10,"SepalLengthCm"]

0     5.1
1     4.9
2     4.7
3      ??
4       5
5     5.4
6     4.6
7       5
8     4.4
9     4.9
10    5.4
Name: SepalLengthCm, dtype: object

In [24]:
df1.iloc[0:10,2]

0    3.5
1    NaN
2    3.2
3    3.1
4    3.6
5    3.9
6    3.4
7    3.4
8    2.9
9    3.1
Name: SepalWidthCm, dtype: float64

## use for range to retrieve each item

In [25]:
df2 = data2.copy(deep = True)
for i in range(3):
    print(df2.iloc[i])

Unnamed: 0         0
Price          13500
Age             23.0
KM             46986
FuelType      Diesel
HP                90
MetColor         1.0
Automatic          0
CC              2000
Doors          three
Weight          1165
Name: 0, dtype: object
Unnamed: 0         1
Price          13750
Age             23.0
KM             72937
FuelType      Diesel
HP                90
MetColor         1.0
Automatic          0
CC              2000
Doors              3
Weight          1165
Name: 1, dtype: object
Unnamed: 0         2
Price          13950
Age             24.0
KM             41711
FuelType      Diesel
HP                90
MetColor         NaN
Automatic          0
CC              2000
Doors              3
Weight          1165
Name: 2, dtype: object

In [26]:
data2 = pd.read_csv("Datasets/Toyota.csv")
for i in range(5):
    print(data2.iloc[i])

Unnamed: 0         0
Price          13500
Age             23.0
KM             46986
FuelType      Diesel
HP                90
MetColor         1.0
Automatic          0
CC              2000
Doors          three
Weight          1165
Name: 0, dtype: object
Unnamed: 0         1
Price          13750
Age             23.0
KM             72937
FuelType      Diesel
HP                90
MetColor         1.0
Automatic          0
CC              2000
Doors              3
Weight          1165
Name: 1, dtype: object
Unnamed: 0         2
Price          13950
Age             24.0
KM             41711
FuelType      Diesel
HP                90
MetColor         NaN
Automatic          0
CC              2000
Doors              3
Weight          1165
Name: 2, dtype: object
Unnamed: 0         3
Price          14950
Age             26.0
KM             48000
FuelType      Diesel
HP                90
MetColor         0.0
Automatic          0
CC              2000
Doors              3
Weight          1165
Name: 3, dtype: object
Unnamed: 0         4
Price          13750
Age             30.0
KM             38500
FuelType      Diesel
HP                90
MetColor         0.0
Automatic          0
CC              2000
Doors              3
Weight          1170
Name: 4, dtype: object

In [27]:
## Returns the size of the dataset
df1.size

900

In [28]:
## Returns the shape of the dataset
df1.shape

(150, 6)

In [29]:
print("Total number of rows: ",df1.shape[0], "Total number of columns: ", df1.shape[1])

Total number of rows:  150 Total number of columns:  6

In [30]:
## Access the rows and columns
turple = [150,6]
print(turple[1])

6

## Using Format String to access columns and rows in the dataset

In [31]:
print(f"Total number of rows: {df1.shape[0]}\nTotal number of columns: {df1.shape[1]}")

Total number of rows: 150
Total number of columns: 6

In [32]:
x = df1.shape[0]
y = df1.shape[1]
print(f"Total number of rows:{x}\nTotal number of columns:{y}")

Total number of rows:150
Total number of columns:6

In [33]:
## return a concise summary of the dataset
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     150 non-null    int64
 1   SepalLengthCm  150 non-null    object
 2   SepalWidthCm   149 non-null    float64
 3   PetalLengthCm  149 non-null    object
 4   PetalWidthCm   150 non-null    float64
 5   Species        149 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 7.2+ KB

In [34]:
## returns the columns and their data types
df1.dtypes

Unnamed: 0         int64
SepalLengthCm     object
SepalWidthCm     float64
PetalLengthCm     object
PetalWidthCm     float64
Species           object
dtype: object

In [35]:
## return the number of unique value in each column
df1.nunique()

Unnamed: 0       150
SepalLengthCm     36
SepalWidthCm      23
PetalLengthCm     44
PetalWidthCm      22
Species            3
dtype: int64

In [36]:
df1['Species'].unique()

array(['Iris-setosa', nan, 'Iris-versicolor', 'Iris-virginica'],
      dtype=object)

In [37]:
df1['SepalLengthCm'].unique()

array(['5.1', '4.9', '4.7', '??', '5', '5.4', '4.6', '4.4', '4.8', '4.3',
       '5.8', '5.7', '5.2', '5.5', '4.5', '5.3', '7', '6.4', '6.9', '6.5',
       '6.3', '6.6', '5.9', '6', '6.1', '5.6', '6.7', '6.2', '6.8', '7.1',
       '7.6', '7.3', '7.2', '7.7', '7.4', '7.9'], dtype=object)

In [38]:
df1['SepalWidthCm'].unique()

array([3.5, nan, 3.2, 3.1, 3.6, 3.9, 3.4, 2.9, 3.7, 3. , 4. , 4.4, 3.8,
       3.3, 4.1, 4.2, 2.3, 2.8, 2.4, 2.7, 2. , 2.2, 2.5, 2.6])

In [39]:
df1['PetalLengthCm'].unique()

array(['1.4', '1.3', '1.5', '###', nan, '1.6', '1.1', '1.2', '1.7', '1',
       '1.9', '4.7', '4.5', '4.9', '4', '4.6', '3.3', '3.9', '3.5', '4.2',
       '3.6', '4.4', '4.1', '4.8', '4.3', '5', '3.8', '3.7', '5.1', '3',
       '6', '5.9', '5.6', '5.8', '6.6', '6.3', '6.1', '5.3', '5.5', '6.7',
       '6.9', '5.7', '6.4', '5.4', '5.2'], dtype=object)

In [40]:
df1['PetalWidthCm'].unique()

array([0.2, 0.4, 0.3, 0.1, 0.5, 0.6, 1.4, 1.5, 1.3, 1.6, 1. , 1.1, 1.8,
       1.2, 1.7, 2.5, 1.9, 2.1, 2.2, 2. , 2.4, 2.3])

In [41]:
## return the number of missing values in each column
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    0
SepalWidthCm     1
PetalLengthCm    1
PetalWidthCm     0
Species          1
dtype: int64

## Data Preprocessing

. Replacing special characters
. Converting the Column type
. Imputing the missing values

In [42]:
## Replacing special characters
df1['SepalLengthCm'].replace('??',np.nan)

0      5.1
1      4.9
2      4.7
3      NaN
4        5
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: object

In [43]:
df1['SepalLengthCm'].unique()

array(['5.1', '4.9', '4.7', '??', '5', '5.4', '4.6', '4.4', '4.8', '4.3',
       '5.8', '5.7', '5.2', '5.5', '4.5', '5.3', '7', '6.4', '6.9', '6.5',
       '6.3', '6.6', '5.9', '6', '6.1', '5.6', '6.7', '6.2', '6.8', '7.1',
       '7.6', '7.3', '7.2', '7.7', '7.4', '7.9'], dtype=object)

In [44]:
## First Method: replace ?? with missing values
df1['SepalLengthCm'].replace('??',np.nan,inplace=False)

0      5.1
1      4.9
2      4.7
3      NaN
4        5
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: object

In [45]:
df1['SepalLengthCm'].unique()

array(['5.1', '4.9', '4.7', '??', '5', '5.4', '4.6', '4.4', '4.8', '4.3',
       '5.8', '5.7', '5.2', '5.5', '4.5', '5.3', '7', '6.4', '6.9', '6.5',
       '6.3', '6.6', '5.9', '6', '6.1', '5.6', '6.7', '6.2', '6.8', '7.1',
       '7.6', '7.3', '7.2', '7.7', '7.4', '7.9'], dtype=object)

In [46]:
## Second Method: replace ?? with missing values
df1['SepalLengthCm'] = df1['SepalLengthCm'].replace('??',np.nan)

In [47]:
## recheck the for the special character
df1['SepalLengthCm'].unique()

array(['5.1', '4.9', '4.7', nan, '5', '5.4', '4.6', '4.4', '4.8', '4.3',
       '5.8', '5.7', '5.2', '5.5', '4.5', '5.3', '7', '6.4', '6.9', '6.5',
       '6.3', '6.6', '5.9', '6', '6.1', '5.6', '6.7', '6.2', '6.8', '7.1',
       '7.6', '7.3', '7.2', '7.7', '7.4', '7.9'], dtype=object)

In [48]:
## Convert the column type from object to float
df1['SepalLengthCm'].astype('float64')

0      5.1
1      4.9
2      4.7
3      NaN
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

In [49]:
df1.dtypes

Unnamed: 0         int64
SepalLengthCm     object
SepalWidthCm     float64
PetalLengthCm     object
PetalWidthCm     float64
Species           object
dtype: object

In [50]:
df1['SepalLengthCm'] = df1['SepalLengthCm'].astype('float64')

In [51]:
df1.dtypes

Unnamed: 0         int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm     object
PetalWidthCm     float64
Species           object
dtype: object

In [52]:
df1['PetalLengthCm'].replace('###',np.nan,inplace=False)

0      1.4
1      1.4
2      1.3
3      1.5
4      NaN
      ...
145    5.2
146      5
147    5.2
148    5.4
149    5.1
Name: PetalLengthCm, Length: 150, dtype: object

In [53]:
## Second Method: replace ### with missing values
df1['PetalLengthCm'] = df1['PetalLengthCm'].replace('###',np.nan)

In [54]:
df1['PetalLengthCm'].unique()

array(['1.4', '1.3', '1.5', nan, '1.6', '1.1', '1.2', '1.7', '1', '1.9',
       '4.7', '4.5', '4.9', '4', '4.6', '3.3', '3.9', '3.5', '4.2', '3.6',
       '4.4', '4.1', '4.8', '4.3', '5', '3.8', '3.7', '5.1', '3', '6',
       '5.9', '5.6', '5.8', '6.6', '6.3', '6.1', '5.3', '5.5', '6.7',
       '6.9', '5.7', '6.4', '5.4', '5.2'], dtype=object)

In [55]:

df1['PetalLengthCm'] = df1['PetalLengthCm'].astype('float64')

In [56]:
df1.dtypes

Unnamed: 0         int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [57]:
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    1
SepalWidthCm     1
PetalLengthCm    2
PetalWidthCm     0
Species          1
dtype: int64

In [58]:
## generate the dataframe 
df1.head()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,NaN,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,NaN,0.2,Iris-setosa

In [59]:
##Imputing/fix the missing values for sepalLengthCm
df1['SepalLengthCm'].mean()

np.float64(5.851677852348993)

In [60]:
mean_seplencm = df1['SepalLengthCm'].mean()
print(mean_seplencm)

5.851677852348993

In [61]:
df1['SepalLengthCm'].fillna(mean_seplencm)

0      5.100000
1      4.900000
2      4.700000
3      5.851678
4      5.000000
         ...
145    6.700000
146    6.300000
147    6.500000
148    6.200000
149    5.900000
Name: SepalLengthCm, Length: 150, dtype: float64

In [62]:
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    1
SepalWidthCm     1
PetalLengthCm    2
PetalWidthCm     0
Species          1
dtype: int64

In [63]:
df1['SepalLengthCm'] = df1['SepalLengthCm'].fillna(mean_seplencm)

In [64]:
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    0
SepalWidthCm     1
PetalLengthCm    2
PetalWidthCm     0
Species          1
dtype: int64

In [65]:
mean_sepwidcm = df1['SepalWidthCm'].mean()
print(mean_sepwidcm)

3.0543624161073826

In [66]:
df1['SepalWidthCm'].fillna(mean_sepwidcm)

0      3.500000
1      3.054362
2      3.200000
3      3.100000
4      3.600000
         ...
145    3.000000
146    2.500000
147    3.000000
148    3.400000
149    3.000000
Name: SepalWidthCm, Length: 150, dtype: float64

In [67]:
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    0
SepalWidthCm     1
PetalLengthCm    2
PetalWidthCm     0
Species          1
dtype: int64

In [68]:
df1['SepalWidthCm'] = df1['SepalWidthCm'].fillna(mean_sepwidcm)

In [69]:
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    2
PetalWidthCm     0
Species          1
dtype: int64

In [70]:
mean_petlencm = df1['PetalWidthCm'].mean()
print(mean_petlencm)

1.1986666666666668

In [71]:
df1['PetalWidthCm'].fillna(mean_petlencm)

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: PetalWidthCm, Length: 150, dtype: float64

In [72]:
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    2
PetalWidthCm     0
Species          1
dtype: int64

In [73]:
df1['PetalLengthCm'] = df1['PetalWidthCm'].fillna(mean_petlencm)

In [74]:
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          1
dtype: int64

## Simple format

In [75]:
df1['PetalLengthCm'] = df1['PetalWidthCm'].fillna(df1['PetalLengthCm'].median())

In [76]:
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          1
dtype: int64

In [77]:
## fixing missing values for species columns
df1['Species'].value_counts()

Species
Iris-versicolor    50
Iris-virginica     50
Iris-setosa        49
Name: count, dtype: int64

In [78]:
## Selecting the value with the highest count
highest_count = df1['Species'].value_counts().index[0]
print(highest_count)

Iris-versicolor

In [79]:
## replace it in the column
df1['Species'] = df1['Species'].fillna(highest_count)

In [80]:
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [85]:
df1['SepalWidthCm'] = df1['SepalWidthCm'].round(1)

In [86]:
df1['SepalWidthCm']

0      3.5
1      3.1
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: SepalWidthCm, Length: 150, dtype: float64

In [87]:
## Coverting the column names to lower case
df1.columns = df1.columns.str.lower()

In [88]:
df1.head()

,unnamed: 0,sepallengthcm,sepalwidthcm,petallengthcm,petalwidthcm,species
0,1,5.100000,3.5,0.2,0.2,Iris-setosa
1,2,4.900000,3.1,0.2,0.2,Iris-versicolor
2,3,4.700000,3.2,0.2,0.2,Iris-setosa
3,4,5.851678,3.1,0.2,0.2,Iris-setosa
4,5,5.000000,3.6,0.2,0.2,Iris-setosa

In [89]:
## Saving the dataframe as a csv data
df1.to_csv('clean_iris_dataset.csv')